<div class="jumbotron text-center">
	<h1>Dig</h1>

	<p>share a song with the world</p>
</div>

<iframe  src="https://embed.spotify.com/?uri=spotify:track:0u3sC19VACccXxjKXJROQj" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<section ng-controller="SongController as songs">
	<div ng-repeat="song in songs.all" >
	<iframe ng-src="https://embed.spotify.com/?uri={{song.spotifyURL}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	<p>hi</p>
	</div>
	

</section>