
<!-- FORM TO CREATE SONGS -->

<section ng-controller="SongController as songs">
<form ng-submit="songs.addSong()" id="newSong">
	<div>
		<label for="newSong-spotifyURL">Name:</label>
		<input type="text" id="newSong-spotifyURL" ng-model="songs.newSong.spotifyURL" placeholder="https://open.spotify.com/track/2FpaNIF5ZoBe74lEyYHwQu">
	</div>
	<div>
		<label for="newSong-notes">Notes:</label>
		<input type="text" id="newSong-notes" ng-model="songs.newSong.notes" placeholder="I like this song because...">
	</div>
	<div>
		<input type="submit" value="Add Song">
	</div>
</form>
</section>